<% include ./partials/header %>

<h1>
  Welcome to the login form page binch
</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="passwordtext" name="password" placeholder="password">
  <input type="submit" value="Login">
</form>

<% include ./partials/footer %>