<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Look at my beautiful campgrounds</h1>
            <h2>Look at their splendor...</h2>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add your own to the list</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap; wrap;">
       <% for (var i=0; i<data.length; i++) { %>
    
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=data[i]["image"]%>">
                <div class="caption"><h4><%= data[i]["name"] %></h4></div>
                <p>
                  <a href="/campgrounds/<%=data[i]["_id"]%>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% } %> 
    </div>

    
    
    <!--bottom of global container-->
</div>


<% include ../partials/footer %>